body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    width: 100px;
    margin: 10vh 10vw;
    grid-template-columns: repeat(16, 1fr);
    flex: 1 0 auto;
}

#container>div {
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-color: black;
}