body {
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    display: grid;
    width: 1000px;
    margin: 10vh 10vw;
    grid-template-columns: repeat(16, 1fr);
}

#container>div {
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-color: black;
}